In [47]:
import pandas as pd
from sklearn import datasets

# 大綱
  1. 平均數
  2. 中位數
  3. 眾數
  4. 四分位數
  5. 變異數
  6. 標準差

In [48]:
data = datasets.load_iris()
iris = pd.DataFrame(data['data'], columns = data['feature_names'])
iris.loc[:, 'label'] = data['target']
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

# 1. 平均數

In [49]:
print(iris.iloc[:, 0:4].mean())

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

# 2. 中位數

In [50]:
print(iris.iloc[:, 0:4].median())

sepal length (cm)    5.80
sepal width (cm)     3.00
petal length (cm)    4.35
petal width (cm)     1.30
dtype: float64

# 3. 眾數
先轉換成整數再求眾數

In [51]:
iris_Mode = iris.copy()
columns = iris_Mode.keys()[:4]

iris_Mode[columns] = iris_Mode[columns].astype('int')

iris_Mode.head()

"iris_Mode = iris.copy()\ncolumns = iris_Mode.keys()[:4]\n\niris_Mode[columns] = iris_Mode[columns].astype('int')\n\niris_Mode.head()"

# 4. 四分位數

In [52]:
iris_Quan = iris.iloc[:, 0:4]
iris_Quan.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [53]:
q1 = iris_Quan.quantile(.25)
q3 = iris_Quan.quantile(.75)
IQR = q3 - q1

print(IQR)

sepal length (cm)    1.3
sepal width (cm)     0.5
petal length (cm)    3.5
petal width (cm)     1.5
dtype: float64

In [54]:
outliers = iris_Quan[((iris_Quan < (q1 - 1.5*IQR)) | (iris_Quan > (q3 + 1.5*IQR)))]
outliers.count()

sepal length (cm)    0
sepal width (cm)     4
petal length (cm)    0
petal width (cm)     0
dtype: int64