In [15]:
import pandas as pd
from sklearn import datasets

# 大綱
  1. 平均數
  2. 中位數
  3. 眾數
  4. 四分位數
  5. 變異數
  6. 標準差

In [23]:
data = datasets.load_iris()
iris = pd.DataFrame(data['data'], columns = data['feature_names'])
iris.loc[:, 'label'] = data['target']
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

# 1. 平均數

In [24]:
print(iris.iloc[:, 0:4].mean())

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

# 2. 中位數

In [25]:
print(iris.iloc[:, 0:4].median())

sepal length (cm)    5.80
sepal width (cm)     3.00
petal length (cm)    4.35
petal width (cm)     1.30
dtype: float64

# 3. 眾數
先轉換成整數再求眾數

In [41]:
iris_Mode = iris.copy()
columns = iris_Mode.keys()[:4]

iris_Mode[columns] = iris_Mode[columns].astype('int')

iris_Mode.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5,3,1,0,0
1,4,3,1,0,0
2,4,3,1,0,0
3,4,3,1,0,0
4,5,3,1,0,0

# 4. 四分位數

In [42]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.386667,2.646667,3.306667,0.860000,1.000000
std,0.841752,0.532648,1.772068,0.714472,0.819232
min,4.000000,2.000000,1.000000,0.000000,0.000000
25%,5.000000,2.000000,1.000000,0.000000,0.000000
50%,5.000000,3.000000,4.000000,1.000000,1.000000
75%,6.000000,3.000000,5.000000,1.000000,2.000000
max,7.000000,4.000000,6.000000,2.000000,2.000000

In [39]:
q1 = iris.quantile(.25)
q3 = iris.quantile(.75)
IQR = q3 - q1

print(IQR)

sepal length (cm)    1.0
sepal width (cm)     1.0
petal length (cm)    4.0
petal width (cm)     1.0
label                2.0
dtype: float64

In [40]:
outliers = iris[((iris < (q1 - 1.5*IQR)) | (iris > (q3 + 1.5*IQR)))]
outliers.count()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
label                0
dtype: int64